@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  font-weight: normal;
}

.moskva, .piter, .kamchatka {
  font-size: 1.1em;
}

a {
  font-size:1.10em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.button {
    -webkit-appearance: none;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    line-height: 40px;
    padding: 15px 30px;
    text-align: center;
    white-space: nowrap;
    background: #B00023;
    border-radius: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B00023;
  height: 70px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  height: 70px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #b71938;
}

.active {
  background-color: #F12F50;
}

.hero-image {
  background-image: url("https://dzwonsemrish7.cloudfront.net/items/1X2O1B401k3i050b3l3n/hero-bg.png" class="responsive");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  background-image: url("https://dzwonsemrish7.cloudfront.net/items/1X2O1B401k3i050b3l3n/hero-bg.png");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  font-weight:none;
  margin: 50px 0 0 50px;
}

.top-cta {
  background-color:#d71536;
  border:none;
  border-radius:5px;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  padding:15px;
  display: inline-block;
  position: relative;
}

h1 {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
}

h2 {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
  font-weight: normal;
  text-align: left;
}

.plan {
  color: #000000;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

.explore {
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

h3 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
}

#section-one {
  padding: 0.5em 1.5em;
}

#section-two {
  background-color: #05051c;
  padding: 0.5em 1.5em;
}

* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 100%;
  margin: auto;
}

.row container flex-direction {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row container flex-direction,
.row container flex-direction > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #ffffff;
  padding: 1px;
  margin: .75em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  text-align: center;
}

.footer-menu {
  background-color: #222222;
}
@media screen and (max-width: 480px) {
  ul {
    display: block;
    text-align: center;
    margin: 1.8em .6em 0;
  }
  
  .responsive {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 0.5em;
    line-height: 0.75em;
    display: block;
  }
  
  h2 {
    font-size: 0.25em;
    line-height: 0.375em;
    display: inline;
  }
  
  .plan {
    font-size: 0.25em;
    line-height: 0.375em;
    display: inline;
  }
  
  p {
    margin: 1.8em .6em 0;
  }
  
  li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
  
  nav a {
    margin: 0 .25em;
  }
 
}
