@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;}

  body {
    background-color: #f8fdff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px; 
    line-height: 1.5;
    font-weight: normal;
    color: #00004D;
  }

  header{
    display: block;
    width: 100%;
    background-color: #b2d7e6;
  }
#logo {
  max-width: 250px;
  float:left;
  padding: 1em 0 1em 1em;
} 

  nav {
    float: right;
    margin: 2.1em 2em 0 0;
  }

  .nav-links-top {
    padding: 0 .5em;
    font-size: .8em;
    color:#00004D;
    text-decoration:none;
  }

  .hero-image{
    background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.2)), url(https://res.cloudinary.com/rocketmiles/image/upload/v1575525922/social/viajes-hero-img.png);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text{
    display: block;
    padding: 5.5em 0 0 2.5em;
  }

  #headline {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: .5em;
  } 

  button {
    background-color: #FFCE3B;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 600;
  }

  #main {
    margin-top: 2.5em;
    margin-bottom: 3em;
  }

  #subhead {
    text-align: center;
    margin: 0 2em 1.5em 2em;
    font-size: 1.1em;
    font-weight: 600;
  }

  .row {
    display: flex;
    text-align: center;
    padding: 0 20px;

  }

  .row img {
    width: 95%;
  }

  footer {
    width: 100%;
    padding: 1.5em 0 2em 0;
    background-color: #B2D7E6; 
    text-align: center;  
  }

  #footer-copy {
    font-weight: 600;
    margin-bottom: 1.2em;
  }

  .nav-links-bottom {
    text-align: center;
    margin: 0 auto .2em;
  }

  .nav-links-bottom-style {
    padding: 0 2em;
    font-size: .8em;
    color:#00004D;
    text-decoration:none;
  }

  .social-links {
    display: inline;
    margin: 0 auto;
  }

  .social-icons {

    margin: 1.7em 1em 1.4em 1em;
    max-width: 45px;
  }

  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

  @media only screen and (max-width: 800px) {
     #logo {
       width: 27%;
       margin-left: 1em;
    }
    nav {
      float: left;
      margin: 0 1.8em;
    }
    #headline {
      font-size: 1.2em;
      font-weight: 600;
    }
    button {
      margin-top: .3em;
      padding: 1em 2em;
      font-size: .8em;
      font-weight: 500;
    }
    #subhead {
      margin: 0 .5em 1em .5em;
      font-size: 1em;
      font-weight: 500;
    }
    #footer-copy {
    font-size: .9em;
    }
  }

  @media only screen and (max-width: 600px) {
    #logo {
       width: 35%;
       margin-left: 1em;
    }
    nav {
      float: right;
      text-align: left;
    }
    .nav-links-top {
      font-size: .7em;
      display: block;
      padding: .4em 0;
    }
    .hero-image{
     height: 200px;
     background-image: linear-gradient(rgba(255,255,255, 0.6), rgba(255,255,255, 0.5)), url(https://res.cloudinary.com/rocketmiles/image/upload/v1570682876/social/jeremy-perret-4rV-j4yPvs8-unsplash.jpg);
   }
   .row,.hero-text{
    flex-flow: column;
   }
   .hero-text {
     padding: 2em 0 0 2em;
   }
   #headline {
    font-size: 1em;
    font-weight: 600;
  }
  button {
    padding: 1em 2em;
    font-size: .7em;
    font-weight: 500;
  }
  #main {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #subhead {
    margin: 0 .5em .5em .5em;
    font-size: .8em;
    font-weight: 500;
  }
  .row img {
    width: 50%;
    margin-top: .5em;
  }
  footer {
    padding: 1em 0 1em 0;  
  }
  #footer-copy {
    font-size: .8em;
    font-weight: 500;
    margin-bottom: .5em;
  }
  .nav-links-bottom-style {
    font-size: .7em;
    display: block;
    padding: .4em 0;
  }
  .social-icons {
    margin: 1em 1.4em 1em 1.4em;
    max-width: 40px;
  }
}


@media only screen and (max-width: 480px) {
  #headline {
    margin-right: .5em;
  }
  button {
      margin-top: .1em;
  }
}
